Consumer/Service References/ServiceReferenceNews/NewsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54544/NewsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54544/NewsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54544/NewsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://localhost:54544/NewsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNews" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNewsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsById" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNewsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetTutorials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorials" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetTutorials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetTutorialById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialById" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetTutorialById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetTutorialByIdAndPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialByIdAndPage" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetTutorialByIdAndPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialByIdAndPageResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsService">
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetDataUsingDataContract" message="tns:INewsService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetDataUsingDataContractResponse" message="tns:INewsService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetNews" message="tns:INewsService_GetNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetNewsResponse" message="tns:INewsService_GetNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsById">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetNewsById" message="tns:INewsService_GetNewsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetNewsByIdResponse" message="tns:INewsService_GetNewsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorials">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetTutorials" message="tns:INewsService_GetTutorials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetTutorialsResponse" message="tns:INewsService_GetTutorials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialById">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetTutorialById" message="tns:INewsService_GetTutorialById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetTutorialByIdResponse" message="tns:INewsService_GetTutorialById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialByIdAndPage">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetTutorialByIdAndPage" message="tns:INewsService_GetTutorialByIdAndPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetTutorialByIdAndPageResponse" message="tns:INewsService_GetTutorialByIdAndPage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsService" type="tns:INewsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNews">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsById">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetNewsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorials">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetTutorials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorialById">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetTutorialById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorialByIdAndPage">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetTutorialByIdAndPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsService">
    <wsdl:port name="BasicHttpBinding_INewsService" binding="tns:BasicHttpBinding_INewsService">
      <soap:address location="http://localhost:54544/NewsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>