Administration/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54544/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:complexType name="GetPersonRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonRequest" nillable="true" type="tns:GetPersonRequest" />
  <xs:complexType name="GetPersonResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:Person" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPersonResponse" nillable="true" type="tns:GetPersonResponse" />
  <xs:complexType name="ErrorInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errored" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorInformation" nillable="true" type="tns:ErrorInformation" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="_id" type="q1:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="AuthenticateUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateUserRequest" nillable="true" type="tns:AuthenticateUserRequest" />
  <xs:complexType name="AuthenticateUserResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
          <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticateUserResponse" nillable="true" type="tns:AuthenticateUserResponse" />
  <xs:complexType name="GetNewsItemsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewsItems" nillable="true" type="tns:ArrayOfNewsItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNewsItemsResponse" nillable="true" type="tns:GetNewsItemsResponse" />
  <xs:complexType name="ArrayOfNewsItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsItem" nillable="true" type="tns:NewsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsItem" nillable="true" type="tns:ArrayOfNewsItem" />
  <xs:complexType name="NewsItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_published" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Published" type="xs:boolean" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="_id" type="q2:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsItem" nillable="true" type="tns:NewsItem" />
  <xs:complexType name="InsertNewsItemRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewsItem" nillable="true" type="tns:NewsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertNewsItemRequest" nillable="true" type="tns:InsertNewsItemRequest" />
  <xs:complexType name="InsertNewsItemResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorInformation">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="InsertedId" type="q3:ObjectId" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertNewsItemResponse" nillable="true" type="tns:InsertNewsItemResponse" />
  <xs:complexType name="RegisterUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserRequest" nillable="true" type="tns:RegisterUserRequest" />
  <xs:complexType name="RegisterUserResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorInformation">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="InsertedId" type="q4:ObjectId" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterUserResponse" nillable="true" type="tns:RegisterUserResponse" />
</xs:schema>