Administration/Service References/ServiceReferenceNews/NewsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNews" nillable="true" type="tns:ArrayOfNews" />
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="date_modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_published" type="xs:dateTime" />
      <xs:element minOccurs="0" name="published" type="xs:boolean" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
  <xs:complexType name="ArrayOfTutorial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tutorial" nillable="true" type="tns:Tutorial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTutorial" nillable="true" type="tns:ArrayOfTutorial" />
  <xs:complexType name="Tutorial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="date_modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_published" type="xs:dateTime" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="published" type="xs:boolean" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="video" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tutorial" nillable="true" type="tns:Tutorial" />
</xs:schema>